* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 14px 'Century Gothic', Futura, sans-serif;
}
button:hover {
  cursor: pointer;
}
.game-info button {
  border: none;
  background: none;
  margin-bottom: 7px;
}
.game-info button span {
  text-decoration: underline;
}
.game-info button span:hover {
  text-decoration: none;
}
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 5% 25%;
  background-color: #96494998;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}
.status {
  margin-bottom: 10px;
}
.game,
.game-info {
  flex-basis: 50%;
}
.game-info {
  padding: 10px;
  margin-top: 10px;
}
.game {
  height: 100%;
  width: 100%;
  max-width: 700px;
  min-width: 350px;
  max-height: 700px;
  min-height: 350px;
}
.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.board,
.board-row {
  width: 100%;
}
.board {
  height: 100%;
}
.board-row {
  height: calc(100% / 3);
}

.square:first-child {
  border-left: 10px solid black;
}
.square:last-child {
  border-right: 10px solid black;
}
.board-row:first-child .square {
  border-top: 10px solid black;
}
.board-row:last-child .square {
  border-bottom: 10px solid black;
}

.square {
  width: calc(100% / 3);
  height: 100%;
  background-color: #bb8e1b;
  border: 5px solid black;
  float: left;
  font-size: 7rem;
  font-weight: bold;
  line-height: 35px;
  min-height: 35px;
  text-align: center;
}

.square.winner {
  background-color: brown;
}

.square:focus {
  outline: none;
}
.game-info {
  width: 100vw;
  overflow-y: auto;
}
.status,
.moves {
  text-align: center;
}
.status {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
}
.moves {
  font-size: 21px;
}
.moves li button span {
  font-size: 21px;
}

@media only screen and (max-width: 768px) {
  .game-container,
  .game-info {
    padding: 7%;
  }
}

@media only screen and (min-width: 769px) {
  .game-container,
  .game-info {
    padding: 21px;
  }
}
